@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
*{
  font-family: "Outfit", sans-serif;
}
.react-datepicker {
  background-color: #1f2937;
  border-color: #4b5563;
}

.react-datepicker__header {
  background-color: #111827;
  border-bottom-color: #4b5563;
}

.react-datepicker__current-month, 
.react-datepicker-time__header,
.react-datepicker__day-name {
  color: #e5e7eb;
}

.react-datepicker__day {
  color: #f3f4f6;
}

.react-datepicker__day:hover {
  background-color: #4b5563;
}

.react-datepicker__day--selected {
  background-color: #7c3aed;
}

.react-datepicker__time-container {
  border-left-color: #4b5563;
}

.react-datepicker__time-box {
  background-color: #1f2937;
}

.react-datepicker__time-list-item {
  color: #f3f4f6;
}

.react-datepicker__time-list-item:hover {
  background-color: #4b5563;
}